{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
        <div class="global-container">
          <div class="card login-form">
          <div class="card-body">
            <h3 class="card-title text-center">LogIn</h3>
            <div class="card-text">
              <!--
              <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
              <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button class="site-button m-r5 button-lg">log In</button>
                <h6>Or 
                  <a style="width: 20px;" href="{% url 'register' %}">Register Here</a>
                </h6>
              </form>
            </div>
          </div>
        </div>
        </div>
        {% endblock %}