{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="container"> 
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Unit</th>

      </tr>
    </thead>
    <tbody>
      {% for p in products %}
      <tr>
        <td scope="row" >{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.category}}</td>
        <td>{{p.Available_Unit}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
{% endblock %}